<div class="accordion__item">
  <div class="accordion__title">
    <i class="fas fa-plus"></i>
    <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam corporis?</span>
  </div>
  <div class="accordion__content">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic molestias vero, accusamus 
      esse velit laudantium neque ullam incidunt sed. Ad laudantium nihil iusto accusantium quia, 
      aspernatur libero recusandae voluptas similique!
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic molestias vero, accusamus 
      esse velit laudantium neque ullam incidunt sed. Ad laudantium nihil iusto accusantium quia, 
      aspernatur libero recusandae voluptas similique!
    </p>
  </div>
</div>