<div class="cta">
  <div class="container">
    <div class="cta__inner">
      <p>@@title</p>
      <p class="cta__phone">
        <a href="#">+375291112233</a>
      </p>
      <p class="cta__socials">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-vk"></i></a>
      </p>
    </div>
    <div>
      <a href="#" class="btn">Записаться</a>
    </div>
  </div>
</div>