<div class="footer">
  <div class="container">
    <div class="footer__socials">
      <span>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v6.0"></script>

        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="false"></div>
      </span>
      <span>
        <script type="text/javascript" src="https://vk.com/js/api/openapi.js?168"></script>
        <script type="text/javascript">
          VK.init({apiId: 7448229, onlyWidgets: true});
        </script>

        <div id="vk_like"></div>
        <script type="text/javascript">
        VK.Widgets.Like("vk_like", {type: "button", height: 30});
        </script>
      </span>
    </div>
    <div class="footer__grid">
      <div class="footer__copyright">
        <p>ЧУП "БлэкКэт Плюс", УНП 192308872</p>
        <p>ЗАО "БелСвиссБанк" р\с BY56UNBS 3012 1004 1300 0000 1933, BIC-UNBSBY2X</p>
        <p><a href="#">Публичный договор</a></p>
      </div>
      <div class="footer__bepaid-block">
        <a href="#"><img src="img/bepaid.png"></a>
      </div>
    </div>
  </div>
</div>

<button class="to-top-button" onclick="scrollToTop()"><i class="fas fa-arrow-up"></i></button>

<div id="game" class="modal">
  <div class="modal__container">
    <button class="modal__close js-modal-close js-admodal-close">
      <i class="fas fa-times"></i>
    </button>
    <div class="modal__inner">
      <form id="gameForm" class="game-form">
        <div class="game-form__score js-game-score"></div>
        <div class="h3 game-form__question js-game-question"></div>
        <div class="form-group game-form__answers js-game-answers">
          <!-- <label><input type="radio" name="answer" value="1">Ответ 1</label> -->
        </div>
        <div class="form-controls">
          <button class="btn">Ответить</button>
        </div>
      </form>
    </div>
  </div>
</div>