<a href="/gallery-item.html" class="gallery-grid__item gallery-category-item">
  <img src="@@image" alt="">
  <h3 class="gallery-category-item__desc">Название категории lkbyyyjt d ytcrjkmrj cnhjr</h3>
</a>