<div class="top-nav">
  <div class="container">
    <ul class="top-nav__menu">
      <li><a href="/">Главная</a></li>
      <li><a href="/gallery.html">Галерея</a></li>
      <li><a href="/blog.html">Блог</a></li>
      <li><a href="/services.html">Услуги</a></li>
      <li class="top-nav__logo"><a href="/"><img src="./img/logo.png" alt=""></a></li>
      <li><a href="/price.html">Цены</a></li>
      <li><a href="/testimonials.html">Отзывы</a></li>
      <li><a href="/fiq.html">F.I.Q.</a></li>
      <li><a href="/contacts.html">Контакты</a></li>
    </ul>

    <a href="/" class="mobile-logo"><img src="./img/logo.png" alt=""></a>
    <button class="mobile-nav js-toggle-mobile-nav"><i class="fas fa-bars"></i></button>
  </div>
</div>