<div class="news-grid__col">
  <div class="news-item">
    <a href="#" class="news-item__img" style="background-image: url(@@image)"></a>
    <div class="news-item__inner">
      <h3>
        <a href="/blog-item.html">@@title</a>
      </h3>
      <div class="news-item__date">03 янв 2018</div>
      <p>Не следует, однако забывать, что укрепление и развитие структуры в значительной степени обуславливает создание</p>
      <a href="/blog-item.html" class="btn">Подробнее</a>
    </div>
  </div>
</div>