<div class="price-grid__col">
  <div class="price-card">
    <div class="price-card__title">Абонемент на @@months месяц</div>
    <div class="price-card__desc">
      <ul>
        <li>Услуга номер один</li>
        <li>Вторая услуга</li>
        <li>Третья услуга</li>
        <li>Четвертая</li>
        <li>Пятая услуга</li>
      </ul>
      <div class="price-card__discount">Скидка <span>@@discount%</span></div>
      <div class="price-card__price"><span>@@price</span>/мес</div>
    </div>
    <div class="price-card__controls pay-btn">
      <button class="btn pay-btn__triger" type="button">Выбрать</button>
      <div class="pay-btn__tost">
        <a href="#">
          <img src="http://black-cat.by/data/uploads/images/cards.png" alt="">
          <p>вся сумма единоразово</p>
        </a>
        <a href="#">
          <img src="http://black-cat.by/data/uploads/images/halva.png" alt="">
          <p>рассрочка по "ХАЛВЕ" на 6 мес</p>
        </a>
      </div>
    </div>
  </div>
</div>