<div class="service-item">
  <a href="/service-item.html" class="service-item__thumb" style="background-image: url(@@image)">
    <div class="service-item__inner">
      <p>подробнее</p>
    </div>
  </a>
  <h3 class="service-item__title">@@title</h3>
</div>