.accordion {
  &__item {
    margin-bottom: 30px;

    &:first-of-type {
      .accordion__content {
        display: block;
      }
    }
  }

  &__title {
    background-color: #f4f4f4;
    cursor: pointer;
    font: {
      family: 'Montserrat', sans-serif;
      size: 22px;
      weight: 500;
    }
    padding: 20px;
    color: #525252;
    transition: all 0.12s ease-in-out;

    i {
      margin-right: 10px;
    }

    &:hover {
      background-color: #bb9b69;
      color: #fff;
    }
  }

  &__content {
    display: none;
    line-height: 24px;
    color: #4e4e4e;
    padding: 20px;
  }
}