.aside {
  @media screen and (max-width: 1170px) {
    display: none;
  }

  &__block {
    margin-bottom: 50px;
  }

  &__title {
    color: rgb(68, 68, 68);
    margin-bottom: 20px;
  }

  &__links-list li {
    margin-bottom: 10px;

    a {
      color: rgb(100, 100, 100);

      &:hover {
        color: #bb9b69;
      }
    }
  }
}