// normalize
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// base
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}

a {
  outline: none;
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
}

h2, .h2 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;

  @media screen and (max-width: 1170px) {
    font-size: 26px;
  }
}

h3, .h3 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;

  @media screen and (max-width: 1170px) {
    font-size: 16px;
  }
}

h4, .h4 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;

  @media screen and (max-width: 1170px) {
    font-size: 12px;
  }
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  padding: 0 15px;
}

.fullscreen-section {
  width: 100%;
  min-height: 100vh;

  @media screen and (max-width: 1170px) {
    min-height: 300px;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 1170px) {
    justify-content: center;
  }
}

.parallax-bg {
  background: {
    repeat: no-repeat;
    size: cover;
    position: center;
    attachment: fixed;
  };
}

.section-title {
  text-align: center;
  margin: 25px 0;

  &:after {
    content: '';
    display: block;
    height: 1px;
    width: 70px;
    margin: 0 auto;
    background-color: #bb9b69;
    position: relative;
    margin-top: 25px;
  }
}

.section-padding {
  padding: 80px 0;

  @media screen and (max-width: 1170px) {
    padding: 40px 0;
  }
}

.btn {
  display: inline-block;
  height: 38px;
  line-height: 37px;
  padding: 0 24px;
  border: none;
  background-color: #333;
  color: #fff;
  transition: all 0.25s ease-in-out;
  letter-spacing: 1px;
  font: {
    size: 13px;
    family: 'Open sans', sans-serif;
  }

  &:hover {
    background-color: #000;
  }
}

input[type=text], textarea {
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid #c6c6c6;
  width: 100%;
  height: 32px;
  color: #666;
  font: {
    family: 'Open sans', sans-serif;
    size: 14px;
    weight: 600;
  }
}

textarea {
  min-height: 100px;
}

.two-column-text {
  column-width: 200px;
  column-count: 2;
  column-gap: 30px;
  line-height: 1.7;
  font-size: 16px;
  text-align: justify;

  p {
    margin-bottom: 20px;
  }
}

#map {
  height: 500px;

  @media screen and (max-width: 1170px) {
    height: 300px;
  }
}

.editor {
  font-size: 16px;

  &_small {
    font-size: 13px;
  }

  p {
    margin-bottom: 1.2em;
  }
}

.to-top-button {
  display: none;
  position: fixed;
  bottom: 50px;
  left: 50px;
  background-color: #1b1b1b;
  color: #ffffff;
  width: 50px;
  height: 50px;
  border: none;

  @media screen and (max-width: 1170px) {
    display: none !important;
  }
}