.contacts {
  color: #555454;

  h3 {
    margin-bottom: 50px;
  }

  ul {
    color: #868686;
    font-size: 16px;

    li {
      margin-bottom: 20px;

      i {
        margin-right: 4px;
        color: #555454;
      }
    }
  }

  &__info {
    width: 40%;

    @media screen and (max-width: 1170px) {
      width: 100%;
      margin-bottom: 50px;
    }
  }

  &__form {
    width: 60%;

    @media screen and (max-width: 1170px) {
      width: 100%;
    }
  }
}