.content {
  img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 45px;
  }

  p, ul {
    line-height: 24px;
    color: #4e4e4e;
    margin-bottom: 30px;
  }

  ul {
    list-style: disc;
    padding-left: 40px;
  }

  a {
    color: #bb9b69;
  }

  hr {
    border-top: none;
    border-color: #e2e2e2;
    margin: 30px 0;
  }

  .responsive-iframe {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}