.cta {
  background-color: #1b1b1b;
  min-height: 120px;
  display: flex;
  align-items: center;
  padding: 20px 0;
  color: #fff;

  &__inner {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1170px) {
      flex-direction: column;
    }

    p {
      font-size: 20px;
      text-align: center;
      margin-right: 30px;

      @media screen and (max-width: 1170px) {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 1.2;
        margin-right: 0;
      }
    }

    a {
      color: #fff;

      @media screen and (max-width: 1170px) {
        pointer-events: auto;
      }
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1170px) {
      flex-direction: column;
    }

    .btn {
      background-color: #ff2d2d;
    }
  }

  &__socials {
    a {
      margin-right: 10px;
    }
  }
}