.education-item {
  display: block;
  position: relative;
  width: 33.3333%;
  margin-top: 100px;

  @media screen and (max-width: 1170px) {
    width: 100%;
    margin-top: 60px;
  }

  &__number {
    position: absolute;
    color: #f3dcdc;
    line-height: 0;
    font: {
      weight: 700;
      size: 150px;
    }

    @media screen and (max-width: 1170px) {
      font-size: 90px;
      top: 10px;
    }
  }

  &__inner {
    position: relative;
    z-index: 1;
    padding-left: 70px;

    @media screen and (max-width: 1170px) {
      padding-left: 40px;
    }

    h3 {
      font-weight: 600;
      font-size: 30px;
      margin-bottom: 15px;

      @media screen and (max-width: 1170px) {
        font-size: 24px;
      }
    }

    p {
      color: #505050;
      line-height: 1.4;
    }
  }
}