.footer {
  min-height: 40px;
  background-color: #000;
  color: #565656;
  font-size: 13px;
  padding-top: 15px;
  padding-bottom: 10px;

  a {
    color: #565656;
    text-decoration: underline;
  }

  &__grid {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1170px) {
      flex-direction: column;
    }
  }

  &__socials {
    min-width: 100%;
    margin-bottom: 20px;
  }

  &__copyright {
    p {
      margin-bottom: 4px;
    }
  }

  &__bepaid-block {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1170px) {
      margin-top: 10px;
    }

    img {
      max-width: 100%;
      height: 30px;
      filter: grayscale(100%);

      &:hover {
        filter: grayscale(0%);
      }
    }
  }
}