.form-group {
  margin-bottom: 50px;
}

.game-form {
  &__score {
    margin-bottom: 20px;
    color: grey;
  }

  &__question {
    margin-bottom: 30px;
    line-height: 1.3;
  }

  &__answers {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 10px;

      input {
        margin-right: 10px;
      }
    }
  }

  &__desc {
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 1.4;
  }
}