.gallery-item {
  display: block;
  width: 25%;
  height: 500px;
  background: {
    size: cover;
    position: center top;
    repeat: no-repeat;
  }

  @media screen and (max-width: 1170px) {
    width: 100%;
    height: 400px;
  }

  &_big {
    width: 50%;

    @media screen and (max-width: 1170px) {
      width: 100%;
    }
  }
}

.gallery-category-item {
  position: relative;

  &__desc {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 100px 20px 20px 20px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.65), transparent);
    text-transform: initial;
    width: 100%;
  }
}