.gallery-grid {
  &__item {
    width: 25%;
    overflow: hidden;

    @media screen and (max-width: 1170px) {
      width: 100%;
    }

    img {
      display: block;
      width: 100%;
      transform: scale(1);
      transition: all 0.35s ease-in-out;
    }

    &:hover img {
      transform: scale(1.12);
    }
  }
}

.news-grid {
  margin-left: -15px;
  margin-right: -15px;

  &__col {
    padding: 0 15px;
    margin-bottom: 30px;
    width: 33.3333%;

    @media screen and (max-width: 1170px) {
      width: 100%;
    }
  }
}

.price-grid {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: 40px;
  margin-bottom: 100px;

  &__col {
    padding: 0 5px;
    width: 20%;

    @media screen and (max-width: 1170px) {
      width: 100%;
    }
  }
}

.with-sidebar {
  &__content {
    width: calc(100% - 400px);

    @media screen and (max-width: 1170px) {
      width: 100%;
    }
  }

  &__right-side {
    width: 400px;
    padding-left: 100px;
  }
}