.align-self-center {
  align-self: center;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

// spaces

@for $i from 1 through 10 {
  .mt-#{$i} {
    margin-top: $i * 10px;

    @media screen and (max-width: 1170px) {
      margin-top: $i * 5px;
    }
  }

  .mb-#{$i} {
    margin-bottom: $i * 10px;

    @media screen and (max-width: 1170px) {
      margin-bottom: $i * 5px;
    }
  }
}