.instagram {
  display: flex;
  flex-wrap: wrap;

  &__grid-item {
    width: 100px;
    height: 100px;
    padding: 5px;
    display: flex;
  }

  &__img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
}