.top-nav {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;

  @media screen and (max-width: 1170px) {
    background-color: #ffffff;
    position: fixed;
    box-shadow: 0 -2px 20px 10px rgba(0, 0, 0, 0.05);
    height: 60px;

    .container {
      justify-content: space-between;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .top-nav__menu li a {
      color: #333333;
    }
  }

  &_fixed {
    background-color: #ffffff;
    position: fixed;
    box-shadow: 0 -2px 20px 10px rgba(0, 0, 0, 0.05);

    .top-nav__menu li a {
      color: #333333;
    }

    .top-nav__logo img {
      filter: brightness(0);
    }
  }

  &__logo {
    font-size: 18px;
    margin: 0 30px;

    @media screen and (max-width: 1170px) {
      display: none;
    }

    img {
      width: 100px;
    }
  }

  &__menu {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1170px) {
      display: none;
      position: fixed;
      z-index: 10000;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      flex-direction: column;
      background-color: #ffffff;
      font-size: 20px;
      font-weight: 400;
      padding-top: 60px;

      &.open {
        display: flex;
      }
    }

    li {
      margin: 0 20px;

      @media screen and (max-width: 1170px) {
        margin: 20px 0;
      }

      a {
        color: #ffffff;
      }
    } 
  }
}

.mobile-nav {
  display: none;

  @media screen and (max-width: 1170px) {
    display: block;
    border: none;
    background: transparent;
    font-size: 21px;
    width: 40px;
    position: relative;
    z-index: 10000;
  }
}

.mobile-logo {
  display: none;

  @media screen and (max-width: 1170px) {
    display: block;

    img {
      width: 70px;
      filter: brightness(0);
    }
  }
}