.modal {
  display: flex;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  &__container {
    position: relative;
    width: 650px;
    max-width: 100%;
    min-height: 200px;
    background-color: #fff;
    margin: 20px;
    box-shadow: 2px 7px 37px -7px #333;
    padding: 35px;

    &.preloading:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
    }

    &.preloading:after {
      content: '';
      position: absolute;
      top: calc(50% - 10px);
      left: calc(50% - 50px);
      width: 100px;
      height: 20px;
      background: url(../img/loading.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    font-size: 18px;
    color: #a9a9a9;
    transition: color 0.25s ease-in-out;

    &:hover {
      color: #333;
    }
  }
}