.news-item {
  background-color: #f4f4f4;

  &__img {
    display: block;
    width: 100%;
    height: 200px;
    background: {
      size: cover;
      position: center;
    }
  }

  &__inner {
    padding: 35px 30px;

    h3 {
      color: #525252;
      text-transform: inherit;
      margin-bottom: 10px;
      line-height: 1.3;
      font-family: 'Open sans', sans-serif;
      font-size: 22px;
      height: 84px;

      a {
        color: #525252;
        transition: color 0.25s ease-in-out;

        &:hover {
          color: #bb9b69;
        }
      }
    }

    p {
      line-height: 24px;
      color: #4e4e4e;
      margin-bottom: 20px;
    }
  }

  &__date {
    font: {
      family: 'Montserrat', sans-serif;
      size: 10px;
    }
    text-transform: uppercase;
    color: #b5b2b2;
    margin-bottom: 15px;
  }
}