.price-card {
  box-shadow: 2px 7px 37px -7px #e0e1e1;
  text-align: center;

  &__title {
    padding: 20px 20px;
    font: {
      size: 14px;
      weight: 600;
    }
    background: #edcefd;
    margin-bottom: 16px;
  }

  &__desc {
    padding: 0 20px;

    ul {
      margin-bottom: 20px;

      li {
        color: grey;
        margin-bottom: 7px;
        font: {
          size: 12px;
        }
      }
    }
  }

  &__discount {
    margin-bottom: 15px;
    font: {
      size: 12px;
    }

    span {
      color: #de4444;
      font: {
        size: 16px;
      }
    }
  }

  &__price {
    margin-bottom: 20px;
    font: {
      size: 12px;
    }

    span {
      font: {
        size: 26px;
        weight: 600;
      }
    }
  }

  &__controls {
    padding: 0 20px 20px;
  }
}

.small-price {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid #e2e2e2;

  @media screen and (max-width: 1170px) {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  &:first-of-type {
    margin-top: 40px;
    border-top: 1px solid #e2e2e2;
  }

  span {
    display: flex;
    align-items: center;
    height: 60px;

    @media screen and (max-width: 1170px) {
      height: auto;
      min-height: 40px;
      display: flex;
      text-align: center;
      justify-content: center;
    }

    &:nth-of-type(1) {
      width: 50%;
      padding-left: 20px;

      @media screen and (max-width: 1170px) {
        padding-left: 0;
        width: 100%;
      }
    }

    &:nth-of-type(2) {
      width: 25%;

      @media screen and (max-width: 1170px) {
        width: 100%;
      }

      strong {
        margin-right: 4px;
        font: {
          size: 16px;
        }
      }
    }

    &:nth-of-type(3) {
      width: 25%;
      padding-right: 20px;
      justify-content: flex-end;

      @media screen and (max-width: 1170px) {
        width: 100%;
        justify-content: center;
        padding-right: 0;
        padding-bottom: 20px;
      }

      .btn {
        width: 100%;
      }
    }
  }
}

.pay-btn {
  position: relative;

  &__tost {
    text-align: center;
    display: none;
    position: absolute;
    z-index: 1;
    bottom: calc(100% + 10px);
    left: calc(50% - 100px);
    width: 200px;
    background: white;
    box-shadow: 2px 7px 19px -11px #6d6d6d;

    &.active {
      display: block;
    }

    a {
      display: block;
      color: #333;
      padding: 10px;
      border-bottom: 1px solid #efefef;

      &:last-of-type {
        border-bottom: none;
      }

      &:hover {
        background-color: #edcefd;
      }

      img {
        max-width: 70px;
        margin-bottom: 10px;
      }
    }

    &:after {
      content: '';
      position: absolute;
      left: calc(50% - 10px);
      bottom: -19px;
      display: block;
      border: 10px solid transparent;
      border-top-color: white;
    }
  }
}