.header-section {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  background: #000;

  video {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;

    @media screen and (max-width: 1170px) {
      margin-top: 60px;
    }
  }

  &:before {
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.7));
  }

  &__text {
    position: relative;
    z-index: 3;
    text-align: center;
    color: #fff;
    
    h1 {
      font-family: 'Yeseva One', cursive;
      font-size: 100px;
      font-weight: 300;

      @media screen and (max-width: 1170px) {
        font-size: 40px;
      }
    }
  }

  &_small {
    height: 400px;
    background-size: cover;

    @media screen and (max-width: 1170px) {
      height: 300px;
    }
  }

  &_small &__text {
    text-align: left;
    
    h1 {
      margin-top: 70px;
      font-size: 48px;

      @media screen and (max-width: 1170px) {
        font-size: 40px;
      }
    }
    
    p {
      max-width: 500px;
      margin-top: 20px;
      line-height: 1.7;
    }
  }
}