.service-item {
  margin: 50px;

  @media screen and (max-width: 1170px) {
    margin: 25px 15px;
  }

  &__thumb {
    display: block;
    position: relative;
    width: 270px;
    height: 270px;
    box-shadow: 2px 7px 37px -7px #e0e1e1;
    background: {
      position: center;
      size: cover;
      repeat: no-repeat;
    }
  }

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    border: 0 solid #edcefd;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    color: #fff;
  
    p {
      position: relative;
      top: 20px;
      transition: all 0.27s ease-in-out;
      text-transform: uppercase;
      letter-spacing: 3px;
      font: {
        size: 11px;
      }
    }
  }

  &__title {
    text-align: center;
    margin-top: 10px;
    letter-spacing: 3px;
    font-size: 12px;
    max-width: 270px;
    line-height: 1.7;
  }

  &:hover &__inner {
    opacity: 1;
    border-width: 10px;
  }

  &:hover h3,
  &:hover p {
    top: 0;
  }
}